.element {
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  overflow: hidden;
}
.element__image {
  width: 100%;
  height: 78%;
  object-fit: cover;
}
.element__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 7% 6% 10%;
}

.element__title {
  font-size: 1.5em;
  font-weight: 900;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.element__heart {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.element__pseudo-item {
  display: inline-block; /* ahora se podrá especificar el ancho y la altura del elemento span */
  vertical-align: middle; /* esta propiedad funciona en conjunto con inline-block */
  width: 25px;
  height: 25px;
  background: url("../images/heart_deac.svg") no-repeat center;
}

.element__pseudo-item:hover {
  background: url("../images/heart_hover.svg") no-repeat center;
  cursor: pointer;
}

.element__heart:checked + .element__pseudo-item {
  background: url("../images/heart_active.svg") no-repeat center;
}
